n8n/workflows/email_intake.json
{
  "name": "AutoComply – Email Intake (PDF Licenses)",
  "nodes": [
    {
      "id": "IMAPTrigger",
      "name": "Watch License Inbox",
      "type": "n8n-nodes-base.imapEmail",
      "typeVersion": 1,
      "position": [260, 260],
      "parameters": {
        "box": "INBOX",
        "downloadAttachments": true,
        "ignoreSslIssues": false
      }
    },
    {
      "id": "FilterAttachments",
      "name": "Filter PDF Attachments",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [540, 260],
      "parameters": {
        "operation": "filter",
        "rules": {
          "rules": [
            {
              "value1": "={{$json[\"binary\"] && $json[\"binary\"].data && $json[\"binary\"].data.fileName && $json[\"binary\"].data.fileName.endsWith('.pdf')}}",
              "operation": "boolean"
            }
          ]
        }
      }
    },
    {
      "id": "HTTPValidatePDF",
      "name": "Call AutoComply PDF API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [840, 260],
      "parameters": {
        "url": "https://your-backend-host/api/v1/license/validate-pdf",
        "method": "POST",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "bodyContentType": "multipart-form-data"
        }
      }
    },
    {
      "id": "ForwardSummary",
      "name": "Forward Summary Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1140, 260],
      "parameters": {
        "subject": "AutoComply – License Validation Result",
        "toEmail": "compliance-team@example.com",
        "text": "License validation result:\\nState: {{$json[\"body\"][\"verdict\"][\"state\"]}}\\nAllow checkout: {{$json[\"body\"][\"verdict\"][\"allow_checkout\"]}}\\nStatus: {{$json[\"body\"][\"verdict\"][\"status\"]}}"
      }
    }
  ],
  "connections": {
    "Watch License Inbox": {
      "main": [
        [
          {
            "node": "Filter PDF Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter PDF Attachments": {
      "main": [
        [
          {
            "node": "Call AutoComply PDF API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AutoComply PDF API": {
      "main": [
        [
          {
            "node": "Forward Summary Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "version": 2
}
