n8n/workflows/renewal_reminders.json
{
  "name": "AutoComply - Renewal Reminders (30 & 7 days)",
  "active": false,
  "nodes": [
    {
      "id": "1",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "triggerTimes": [
          {
            "hour": 6,
            "minute": 0
          }
        ]
      }
    },
    {
      "id": "2",
      "name": "Fetch Licenses from Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "operation": "list",
        "application": "YOUR_BASE_ID",
        "table": "Licenses",
        "additionalOptions": {
          "filterByFormula": "OR({DaysToExpiry} = 30, {DaysToExpiry} = 7)"
        }
      }
    },
    {
      "id": "3",
      "name": "Send Reminder Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [800, 280],
      "parameters": {
        "fromEmail": "licenses@autocomply.ai",
        "toEmail": "={{$json[\"ReminderEmail\"]}}",
        "subject": "={{`License renewal in ` + $json[\"DaysToExpiry\"] + ` day(s)`}}",
        "text": "={{`Hello,\\n\\nYour license ${$json[\"license_id\"]} for ${$json[\"Practitioner\"]} will expire on ${$json[\"Expiry\"]}.\\n\\nPlease renew to avoid disruption of controlled substance ordering.\\n\\n– AutoComply AI`}}"
      }
    },
    {
      "id": "4",
      "name": "Slack Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [800, 420],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#license-alerts",
        "text": "={{`Sent renewal reminder for license ${$json[\"license_id\"]} (${ $json[\"DaysToExpiry\"] } days remaining).`}}"
      }
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [{ "node": "Fetch Licenses from Airtable", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Licenses from Airtable": {
      "main": [
        [
          { "node": "Send Reminder Email", "type": "main", "index": 0 },
          { "node": "Slack Summary", "type": "main", "index": 0 }
        ]
      ]
    }
  }
}
