n8n/workflows/renewal_reminders.json
{
  "name": "AutoComply – Renewal Reminders",
  "nodes": [
    {
      "id": "Cron",
      "name": "Daily at 09:00",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [260, 260],
      "parameters": {
        "triggerTimes": [
          {
            "hour": 9,
            "minute": 0
          }
        ]
      }
    },
    {
      "id": "FetchExpiringLicenses",
      "name": "Fetch Expiring Licenses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [540, 260],
      "parameters": {
        "url": "https://your-backend-host/demo/expiring-licenses",
        "method": "GET",
        "responseFormat": "json"
      }
    },
    {
      "id": "SendReminderEmail",
      "name": "Send Reminder Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [840, 260],
      "parameters": {
        "toEmail": "{{$json[\"email\"] || \"practitioner@example.com\"}}",
        "subject": "AutoComply – License Renewal Reminder",
        "text": "Hi {{$json[\"name\"] || \"Doctor\"}},\\n\\nYour license {{$json[\"license_id\"] || \"[unknown]\"}} in {{$json[\"state\"] || \"[state]\"}} is expiring on {{$json[\"state_expiry\"] || \"[date]\"}}.\\n\\nPlease renew to avoid checkout disruptions."
      }
    }
  ],
  "connections": {
    "Daily at 09:00": {
      "main": [
        [
          {
            "node": "Fetch Expiring Licenses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Expiring Licenses": {
      "main": [
        [
          {
            "node": "Send Reminder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "version": 2
}
