n8n/workflows/slack_alerts.json
{
  "name": "AutoComply – Slack Alerts",
  "nodes": [
    {
      "id": "Webhook",
      "name": "License Event Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [280, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "autocomply/license-events",
        "responseMode": "onReceived",
        "options": {
          "responseCode": 200,
          "responseContentType": "application/json"
        }
      }
    },
    {
      "id": "SlackMessage",
      "name": "Post to Slack #license-alerts",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [700, 300],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#license-alerts",
        "text": "🔎 AutoComply event: {{$json[\"event\"] || \"license_validation\"}}\\nState: {{$json[\"state\"] || \"N/A\"}}\\nAllow checkout: {{$json[\"allow_checkout\"]}}\\nSuccess: {{$json[\"success\"]}}"
      }
    },
    {
      "id": "ReturnJson",
      "name": "Return JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [980, 300],
      "parameters": {
        "responseBody": "{\"ok\": true}"
      }
    }
  ],
  "connections": {
    "License Event Webhook": {
      "main": [
        [
          {
            "node": "Post to Slack #license-alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Slack #license-alerts": {
      "main": [
        [
          {
            "node": "Return JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "version": 2
}
